{% extends "layout.html" %}

{% block css %}
  <link href="static\home.css" rel="stylesheet">
{% endblock %}

{% block title %}
  Home
{% endblock %}

{% block main %}

<!-- BUTTON -->
<br>
<div class="container mt-3 mb-3">
  <img src="/static/stock-market-image-getty.jpg" class="rounded" alt="..." >
  <a href='/quote'><button class="btn">GET STARTED</button></a>
</div>


<!-- ABOUT US -->
<br>
  <div class="jumbotron">
    <h1 class="display-4">About Us</h1>
    <p class="lead text-left"><br>JJ Finance is a web application through which users can simulate trading in the real world. It is a great tool for beginners trying to familiarize themselves with stock trading before taking on any real risk. It is also a great platform to test investing strategies and gain experience without spending a single penny. Users can virtually buy and sell stocks from the National Stock Exchange of India and create their own portfolio. They can also create a watchlist of stocks to keep an eye on.</p>
    <hr class="my-4 bg-light">
    <p class = "text-left">Developed and created by Siddhartha Jaiswal and Aryan Jain</p>
  </div>

  <div class="card text-center bg-dark">
    <div class="card-body">
        
      <p class="card-text text-light">
        <a href='/' target="_blank" style="color:white; text-decoration:none" >Home</a> 
        &ensp; | &ensp; 
        <a href='/quote' target="_blank" style="color:white; text-decoration:none" >Quote </a> 
        &ensp; | &ensp; 
        <a href='/news' target="_blank" style="color:white; text-decoration:none" >News</a> 
        &ensp; | &ensp; 
        <a href='/watchlist' target="_blank" style="color:white; text-decoration:none" >Watchlist</a> 
        &ensp; | &ensp; 
        Practice - <a href='/buy' target="_blank" style="color:white; text-decoration:none">Buy</a> - <a href='/sell' target="_blank" style="color:white; text-decoration:none">Sell</a> - <a href='/history' target="_blank" style="color:white; text-decoration:none">History</a> - <a href='/portfolio' target="_blank" style="color:white; text-decoration:none">Portfolio</a>
      </p>
      
    <hr class="my-3 bg-secondary">
    
    <p class="text-light">Contact Us</p>
        <p class="card-text text-light">Email: <a href = "mailto: aryanjain.1710@gmail.com" target="_blank" style="color:white">aryanjain.1710@gmail.com</a> and <a href = "mailto: j.siddhartha2003@gmail.com" target="_blank" style="color:white">j.siddhartha2003@gmail.com</a></p>  
        
    <hr class="my-3 bg-secondary">

    <p class="text-light">Designed and developed by Aryan Jain and Siddhartha Jaiswal</p>
    </div>
</div>



{% endblock %}