{% extends "layout.html" %}

{% block css %}
<link href="/static/signup.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="thesignupthing">
    <h2 type="text">Log In</h2>
    <br>
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <button class="btn btn-success" type="submit">Log In</button>
    </form>
</div>
{% endblock %}
