{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/ticker.css">

<link href="static\news.css" rel="stylesheet">

{% endblock %}

{% block title %}News{% endblock %}

{% block main %}


<br>
<h1 class="display-4 mb-5">News</h1>


{% if news_list %}
    <div class="tickerv-wrap border border-bottom bg-dark text-white" class="rounded-pill"><ul>
    {% for news in news_list %}
        <!-- <a href = {{news[0]}}>hello</a> -->
        <li><a href = {{news[0]}} target="_blank" style="color:white; font-family:Trebuchet MS ; text-decoration:none" ><p> {{news[1]}} </p></a></li>
    {% endfor %}
    </ul></div>
{% endif %}

{% endblock %}